body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, Helvetica, sans-serif;
}

table{
    width: 600px;
    border-collapse: collapse;
}

th, td{
    padding: 7px;
}

th{ 
    text-transform: uppercase;
    border-top: 1px solid #999;
    border-bottom: 1px solid #111;
    text-align: left;
    font-size: 90%;
    letter-spacing: 0.05em;
}

.contabil{
    text-align:justify;
}

tr:hover{
    background-color:rgba(0, 0, 0, 0.1);

}
