#conteudo {
    background-color: #dcdcdc;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.item {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: white;
    border: 1px solid gray;
}